<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="controls">
      <div id='products-list'>
      </div>
    </div>

    <div class="matrix">
      <table>
        <tr>
          <td>
            <form id="create-product" data-item="product" class='creator' action='#'>
              <input class='text'>
              <input type="submit" value='Create Product'>
            </form>
          </td>
          <td>
            <form id="create-feature" data-item="feature" class='creator' action='#'>
              <input class='text'>
              <input type="submit" value='Create Feature'>
            </form>
          </td>
        </tr>
        <tr>
          <td> <div id="matrix-products"> </div> </td>
          <td> <div id="matrix-features"></div> </td>
        </tr>
      </table>
      <div class='matrix-controls'>

        <input id='save' type="submit" value="Save and Clear">
        <input id='clear' type="submit" value="Cancel">
        <div id="guess">
        </div>
      </div>
    </div>
  </div>

  <script type='text/template' id='li-temp'>
    <ul>
      <% for (var i in items) { %>
        <li><%= items[i] %></li>
      <% } %>
    </ul>
  </script>
</body>
</html>
